doctype html
html(lang="en")
  head
    title miComidita
  body
    center
        h1 Cafeteria miComidita Control System
        form(action="/addrawproduct", method="get")
            input(type="submit", value="Add Raw Product")
        br
        form(action="/editrawproduct", method="get")
            input(type="submit", value="See/Edit Raw Products")
